{% block body %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="shadow p-4 bg-body rounded text-black w-100" style="max-width: 400px;">
        <h1 class="text-center p-3">Sign In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
        </form>
        <div class="text-center mt-4">
            <label class="form-label fs-5">Don't have an account?</label>
            <br>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary w-100 mt-2">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
